<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>业主</title>
    <link rel="stylesheet" href="../../static/modules/elementui/theme/index.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/modules/animate.min.css">
    <script src="../../static/modules/wow.min.js"></script>
    <script src="../../static/modules/vue.min.js"></script>
    <script src="../../static/modules/vue.min.js"></script>
    <script src="../../static/modules/elementui/index.js"></script>
    <script src="../../static/iconfont/iconfont.js"></script>
</head>
<body>
<el-container id="page" v-cloak>
    <el-header height="auto">
        <page-header></page-header>
    </el-header>
    <el-container>
        <page-aside>
            <template v-slot:menu>
                <page-menus></page-menus>
            </template>
        </page-aside>
        <el-main>
            <div class="child-page">
                <el-form ref="form" :model="user" class="form" label-width="120px" style="margin: 20px 0;">
                    <el-row>
                            <el-col :span="24">
                                <el-form-item label="业主账号" prop="yezhuzhanghao">
                                    <el-input class="list_inp" v-model="user.yezhuzhanghao" disabled placeholder="业主账号" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="业主姓名" prop="yezhuxingming">
                                    <el-input class="list_inp" v-model="user.yezhuxingming"  placeholder="业主姓名" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="头像" prop="touxiang">
                                    <file-upload
                                            tip="点击上传头像"
                                            action="file/upload"
                                            :limit="3"
                                            :file-urls="user.touxiang?user.touxiang:''"
                                            @change="yezhutouxiangUploadSuccess">
                                    ></file-upload>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="性别" prop="xingbie">
                                        <el-select
                                                class="list_sel"
                                                v-model="user.xingbie"
                                                placeholder="请选择性别"
                                        >

                                        <el-option v-for="item in yezhuxingbieLists" :label="item" :value="item"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="手机号码" prop="shoujihaoma">
                                    <el-input class="list_inp" v-model="user.shoujihaoma"  placeholder="手机号码" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="楼栋号" prop="loudonghao">
                                    <el-input class="list_inp" v-model="user.loudonghao"  placeholder="楼栋号" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="房号" prop="fanghao">
                                    <el-input class="list_inp" v-model="user.fanghao"  placeholder="房号" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="身份证" prop="shenfenzheng">
                                    <el-input class="list_inp" v-model="user.shenfenzheng"  placeholder="身份证" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="密保问题" prop="pquestion">
                                    <el-input class="list_inp" v-model="user.pquestion"  placeholder="密保问题" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="密保答案" prop="panswer">
                                    <el-input class="list_inp" v-model="user.panswer"  placeholder="密保答案" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="邮箱" prop="email">
                                    <el-input class="list_inp" v-model="user.email"  placeholder="邮箱" clearable />
                                </el-form-item>
                            </el-col>
                        <div class="btn-row" style="text-align: center">
                            <el-button class='userinfo_confirm' type="primary" @click="onSubmit">保存</el-button>
                        </div>
                    </el-row>
                </el-form>
            </div>
        </el-main>
    </el-container>
</el-container>
</body>
<script src="../../static/modules/axios.min.js"></script>
<script src="../../utils/http.js"></script>
<script src="../../utils/toolUtil.js"></script>
<script src="../../utils/global_mixin.js"></script>
<!--引入组件-->
<script src="../../components/pageHeader.js"></script>
<script src="../../components/pageMenus.js"></script>
<script src="../../components/pageAside.js"></script>
<script src="../../components/FileUpload.js"></script>
<script>
    var vm = new Vue({
        el: '#page',
        data(){
            return {
                user:{
                                yezhuzhanghao:null,
                                yezhuxingming:null,
                                touxiang:null,
                                xingbie:null,
                                shoujihaoma:null,
                                loudonghao:null,
                                fanghao:null,
                                shenfenzheng:null,
                                pquestion:null,
                                panswer:null,
                                email:null,
                },
                        yezhuxingbieLists:[],
            }
        },
        mounted(){
            this.getInfo()
        },
        methods: {
            init(){
                        this.yezhuxingbieLists = "男,女".split(',')
            },
                    yezhutouxiangUploadSuccess(fileUrls){
                        this.user.touxiang = fileUrls;
                    },
            onSubmit(){
                        if(!this.user.yezhuzhanghao){
                            return this.$message.error('业主账号不能为空')
                        }
                        if(!this.user.mima){
                            return this.$message.error('密码不能为空')
                        }
                        if(!this.user.yezhuxingming){
                            return this.$message.error('业主姓名不能为空')
                        }
                        if(this.user.touxiang!=null){
                            this.user.touxiang = this.user.touxiang.replace(new RegExp(baseUrl,"g"),"");
                        }
                        if((this.user.shoujihaoma)&& !toolUtil.isMobile(this.user.shoujihaoma) ){
                            return this.$message.error('手机号码应输入手机格式')
                        }
                        if((this.user.shenfenzheng)&& !toolUtil.checkIdCard(this.user.shenfenzheng) ){
                            return this.$message.error('身份证应输入身份证格式')
                        }
                        if((this.user.email)&& !toolUtil.isEmail(this.user.email) ){
                            return this.$message.error('邮箱应输入邮箱格式')
                        }
                http.post('yezhu/update',this.user).then(res=>{
                    this.$message.success('修改成功')
                })
            },
            getInfo(){
                http.get('yezhu/session').then(res=>{
                    for(let key in res.data.data){
                        this.user[key] = res.data.data[key]
                    }
                    this.init()
                })
            },
        }
    })
</script>
</html>
